@import 'variables.scss';
@import 'photon/sass/photon';

/******************** Sidebar ********************/

.tree-view_item {
    display: flex;
    flex-direction: row;
    a {
        flex-grow: 1;
    }
}

.tree-view_arrow {
	margin-right: 0px;
	margin-left: 12px;
}

.tree-view_arrow + .nav-group-item {
	padding-left: 4px;
}

.tree-view_children {
    margin-left: 0px;
    .nav-group-item {
        padding-left: 36px;
    }
}

// Grey out non-joined channels
.channel {
    &:not(.joined) {
        color: $nav-inactive-color;
    }
}

// Grey out disconnected servers
.server {
    &:not(.connected) {
        color: $nav-inactive-color;
    }
}

// Grey out user queries on disconnected servers
.tree-view_item:not(.connected) + .tree-view_children .user{
    color: $nav-inactive-color;
}

.tree-view_item.active, .tree-view_item:active {
	background-color: $nav-active-color;
}

.nav-group-title {
	font-weight: 600;
}

/******************** Nick Colors ********************/

.nick-color-1 {
    color: $nick-color-1;
}

.nick-color-2 {
    color: $nick-color-2;
}

.nick-color-3 {
    color: $nick-color-3;
}

.nick-color-4 {
    color: $nick-color-4;
}

.nick-color-5 {
    color: $nick-color-5;
}

.nick-color-6 {
    color: $nick-color-6;
}

.nick-color-7 {
    color: $nick-color-7;
}

.nick-color-8 {
    color: $nick-color-8;
}

.nick-color-9 {
    color: $nick-color-9;
}

.nick-color-10 {
    color: $nick-color-10;
}

.nick-color-11 {
    color: $nick-color-11;
}

.nick-color-12 {
    color: $nick-color-12;
}

.nick-color-13 {
    color: $nick-color-13;
}

.nick-color-14 {
    color: $nick-color-14;
}

.nick-color-15 {
    color: $nick-color-15;
}

.nick-color-16 {
    color: $nick-color-16;
}

/******************** Main Content ********************/

.userlist {
    flex: 0;
}

.io-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .message-container {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 14px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
            height: 100%;
            li {
                padding-left: 8px;
            }
        }
    }

    .input-wrapper {
        flex-shrink: 0;
        height: 25px;
        border: none;
        border-top: 1px solid $border-color;

        input {
            box-sizing: border-box;
            border: none;
            width: 100%;
            height: 100%;
            padding-left: 4px;
            padding-right: 4px;
            outline: none;
        }
    }
}

.message {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 4px;
    .timestamp {
        opacity: .5;
        margin-right: 4px;
        font-size: .8em;
    }
    .message-contents {
        flex: 1 0;
    }
}

.topic-bar {
    height: $topic-bar-height;
    width: 100%;
    padding: 2px 4px;
    vertical-align: center;
    border-bottom: 1px solid $border-color;
    white-space: nowrap;
    overflow: hidden;
    background-color: $topic-bar-bg-color;
    position: absolute;
    opacity: $topic-bar-opacity;
    -webkit-user-select: text;
    z-index: 1;

    &:hover {
        white-space: normal;
        height: auto;
    }

    & ~ .message-container {
        padding-top: $topic-bar-height;
    }
}

/******************** Welcome View ********************/

.welcome-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        width: 200px;
        height: 200px;
        padding-bottom: 8px;
    }
    h1, p {
        margin: 0;
        padding: 0;
        padding-bottom: 8px;
    }
    p {
        color: rgba(0, 0, 0, .6);
    }

}

/******************** Message Formats ********************/

.message {
    .action .nick:before {
        content: '•\A';
    }

    .message-error{
        color: #E00000;
        &:before {
            content: 'Error:\A';
        }
    }

    .invite:before {
        content: '»\A';
    }

    .join {
        opacity: $info-msg-opacity;
        &:before {
            content: '→\A';
        }
    }

    .kick {
        opacity: $info-msg-opacity;
    }

    .motd:before {
        content: 'MOTD:\A';
    }

    .msg .nick:after {
        content: ':';
    }

    .nick-change {
        opacity: $info-msg-opacity;
    }

    .notice:before {
        content: '»\A';
    }

    .notice .nick:after {
        content: ':';
    }

    .part {
        opacity: $info-msg-opacity;
        &:before {
            content: '←\A';
        }
    }
    .quit {
        opacity: $info-msg-opacity;
        &:before {
            content: '←\A';
        }
    }

    .timestamp:before {
        content: '[';
    }

    .timestamp:after {
        content: ']';
    }

    .topic {
        opacity: $info-msg-opacity;
        &:before {
            content: 'Topic is\A';
        }
    }

    .topic-who {
        opacity: $info-msg-opacity;
    }

    .raw {
        opacity: $info-msg-opacity;
    }

    .message-info {
        opacity: $info-msg-opacity;
    }
}
