// Colors
$border-color: #ddd !default;

$gray-color: #333 !default;

$nav-active-color: #dcdfe1 !default;
$nav-inactive-color: lighten($gray-color, 40%) !default;

// Topic Bar
$topic-bar-height: 25px !default;
$topic-bar-bg-color: #EEE !default;
$topic-bar-opacity: .9 !default;
